@import url(./style/normalize.css);

body {
  background: #001821;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body,html {
  height: 100%;
}

.wrapper {
  background: url(./img/back/1.png) center top no-repeat, url(./img/back/2.png) center bottom 165px no-repeat, url(./img/back/3.png) center center no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200;
}

.container {
  margin: 0 auto;
  max-width: 1142px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 530px;
  margin-bottom: 260px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 25px;
}

.header__column-left {
  display: flex;
  align-items: center;
}

.logo   {
  margin-right: 79px;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-right: 54px;
}
.menu__item:hover {
  color: #DA0100;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
}

.contacts {
  font-style: normal;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.contacts__phone {
  font-size: 26px;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.dropdown__workhours {
  text-decoration: underline;
  font-size: 13px;
  color: #98a4ab;
  display: inline-flex;
}

.dropdown:hover .dropdown__workhours {
  color: #fff;
  cursor: pointer;
}

.dropdown__menu {
  position: absolute;
  background: #ededed;
  color: #1e1f20;
  font-size: 13px;
  line-height: 21px;
  border-radius: 9px;
  padding: 20px;
  margin-top: 15px;
  top: 100%;
  right: 9999px;
  opacity: 0;
  transition: opacity .5s;
}

.dropdown__menu::before {
  content: "";
  display: block;
  height: 20px;
  left: 0;
  right: 0;
  top: -16px;
  position: absolute;
}

.dropdown__menu::after {
  content: "";
  position: absolute;
  border: 16px solid transparent;
  border-bottom-color: #ededed;
  border-top-width: 0;
  top: -16px;
  right: 35px;

}

.dropdown:hover .dropdown__menu {
  right: 0;
  opacity: 0.8;
}


.dropdown__item--bold {
  font-weight: 600;
}

.dropdown__item--bold {
  font-weight: 700;
}

.hero__text-section {
  width: 45%;
}

.hero__title {
  font-size: 72px;
  line-height: 84px;
  font-weight: bold;
  margin-bottom: 28px;
}

.hero__text {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 33px;
}

.btn {
  display: inline-block;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.btn:hover {
  background: #DA0100;
  box-shadow: 0px 2px 4px rgba(218, 1, 0, 0.3);
}

.btn--tour {
  padding: 18px 29px;
  background: #fff;
  color: #F5170E;
  border: 1px solid #F5170E;
  align-self: flex-start;
  margin-top: auto;
}

.btn--tour:hover {
  background: #F5170E;
  color: #fff;
}

.section {
  margin-bottom: 127px;
}

.section__title {
  font-size: 36px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 51px;
}

.tours {
  display: flex;
  justify-content: space-between;
}

.tours__item {
  width: calc(100% / 3 - 19px);
}
.tour {
  min-height: 449px;
  background: #fff;
  border-radius: 5px;
  color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tour__title {
  margin-bottom: 23px;
  font-size: 24px;
}

.tour__content {
  padding: 33px 16px 26px 22px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tour__brief {
  display: flex;
  justify-content: start;
}
.tour__brief-cell {
  margin-bottom: 24px;
  margin-right: 28px;
  color: #666666;
  display: flex;
  justify-content: start;
}

.tour__brief-cell-img {
  margin-right: 5px;
  margin-left: 5px;
}

.tour__article {
  font-size: 14px;
  margin-bottom: 24px;
  color: #303030;
  flex: 1;
}

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.news__item {
  height: 394px;
  flex: 1;
  margin-right: 2%;
}

.news__item:last-child {
  margin-right: 0;
}

.news-item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.news-item__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 26px 30px;
  min-height: 180px;
}

.news-item__date {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12px;
}

.news-item__title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 3px;
}

.pager {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pager__display {
  margin-right: 25px;
}

.pager__list {
  display: flex;
  align-items: center;
}

.pager__item {
  text-align: center;
}

.pager__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 32px;
}

.pager__link:hover {
  background: #fff;
  color: #F5170E;
}

.about {
  display: flex;
}

.about::before {
  display: block;
  content: "";
  width: 490px;
  height: 552px;
  background: url(./img/about/back.png) center top no-repeat;
}

.about__content {
  background: url(./img/about/front.png);
  padding: 80px 70px;
  max-width: 788px;
  margin-left: -136px;
  margin-top: 97px;
  border-radius: 5px;
}

.about__title {
  color: #000;
  font-size: 36px;
  margin-bottom: 37px;
}

.about__text {
  color: #060606;
  margin-bottom: 37px;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, .1);
  padding-top: 49px;
  padding-bottom: 57px;
  margin-top: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer__column-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social__list {
  display: flex;
  align-items: center;
  margin-right: 74px;
}

.social__item {
  margin-right: 10px;
  vertical-align: middle;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.social__item--tg .social__link {
  background-image: url(./img/social/tg.png);
}

.social__item--tg .social__link:hover {
  background-image: url(./img/social/tg-h.png);
}

.social__item--vk .social__link {
  background-image: url(./img/social/vk.png);
}

.social__item--vk .social__link:hover {
  background-image: url(./img/social/vk-h.png);
}
.social__item--fb .social__link {
  background-image: url(./img/social/fb.png);
}

.social__item--fb .social__link:hover {
  background-image: url(./img/social/fb-h.png);
}
.social__item--in .social__link {
  background-image: url(./img/social/in.png);
}

.social__item--in .social__link:hover {
  background-image: url(./img/social/in-h.png);
}
.contacts__text {
  color: #9A9A9A;
  font-size: 11px;
}

/*-------------------------------------------------------------------*/



.top-line {
  min-height: 412px;
  background: url(./img/back/service-headline.png) center center no-repeat;
}

.top-line__container {
  flex: 1;
  color: #fff;
  height: 412px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 23px;
}

.top-line__title {
  font-size: 72px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item{
  display: flex;
  align-items: center;
  color: #9a9a9a;
}

.breadcrumbs__item--active .breadcrumbs__link{
  font-weight: bold;
}

.breadcrumbs__link{
  text-decoration: underline;
  font-size: 14px;
  padding-right: 5px;
}

.breadcrumbs__item:after {
  content: "/";
  padding-right: 5px;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.page-content{
  background: #fff;
  color: #000;
}

.services__container {
  padding-top: 98px;
  padding-bottom: 90px;
}

.services {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.service {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.service__img {
  margin-right: 56px;
}

.service__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.service__title {
  font-size: 36px;
  margin-bottom: 25px;
}

.pager--services .pager__link:hover {
  background: #F5170E;
  color: #fff;
}

.section--partners {
  background: #F4F5F5;
  padding: 90px 0;
  font-style: 48px;
  color: #1A1B1E;
  margin: 0;
}


.partners__title {
  font-size: 48px;
  margin-bottom: 80px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.partners__item {
  margin-right: 50px;
}

.partners__item:nth-child(4n) {
  margin-right: 0;
}

.partners__link {
  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  justify-content: center;
  filter: grayscale(1);
}

.partners__link:hover {
  filter: grayscale(0);
}

.footer--services {
  background: #1A1B1E;
  color: #fff;
}

/*-------------------------------------------------------------------*/

.review {
  display: flex;
  flex-direction: column;

}

.review__header {
  display: flex;
  align-items: center;
}

.review__photo {
  width: 1402px;
  height: 142px;
  overflow: hidden;
  border-radius: 50%;
}

.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 42px;
  color: #2E77A4;
  text-decoration: underline;
}